.page-header {
    background-color:#FFF;
    background-image: none;
    color:#444;
    padding-bottom: 0px;
    padding-top: 0px;
}

.page-header .logo-container{
    margin: auto;
    height: 300px;
}

.page-header .project-tagline{
    margin-bottom: 0px;
    padding-bottom: 38px;
}

.page-header .home-links{
    margin-top: 10px;
    margin-bottom: 20px;
}

.page-header .home-links a{
    display: inline-block;
    width: 85px;
    color: #999;
}

.page-header a.home-banner{
    display: block;
    width: 100%;
    background-color: #84c55380;
    border: 1px solid #6ca444;
    color: #598a37;
    font-size: 1em;
    border-radius: 8px;
    font-weight: 600;
}

.subpage-header{
    position: relative;
    background: #444;
    height: 70px;
    margin-bottom: 60px;
}

.subpage-header .logo-container{
    height: 100px;
    width: 100px;
    margin: auto;
    left: 0;
    right: 0;
    top: 20px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.subpage-header .home-links{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

.subpage-header .home-links a{
    color: white;
    display: inline-block;
    width: 100px;
}

.subpage-header .home-links .spacer{
    display: inline-block;
    width: 130px;
}

@media (max-width: 600px) { 
    .subpage-header{
        height: 100px;
    }

    .subpage-header .logo-container{
        top: 50px;
        height: 90px;
        width: 90px;
    }

    .subpage-header .home-links{
        top: 10px;
    }

    .subpage-header .home-links a{
        width: 85px;
    }

    .subpage-header .home-links .spacer{
        width: 0px;
    }
}

.divider{
    border-top: solid 1px #eff0f1;
    margin: 30px 0px;
}

.posts{
    padding: 0;
}

.posts .date{
    font-size: .7em;
    opacity: .60;
}

.post{
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEE;
}

.post-header-link{
    color: #b7281b;
    font-size: 1.5em;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #b7281b;
}

.post-meta{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 10px;
}

.post-meta .post-links .rss{
    display: inline-block;
    width:90px;
    margin-right: 10px;
    vertical-align: top;
}

.post-content p{
    font-size: 0.9rem;
}

.post-content #show-notes{
    margin-bottom: 5px;
}

.post-content ul{
    padding-left: 0px;
}

.post-content li{
    list-style: none;
}

.post-content li a{
    font-size: 14px;
}

.site-footer{
    border-top: none;
}

.post-links{
    display: flex;
    flex-wrap: wrap;
}

.post-links a{
    width: 125px;
}

.post-links img{
    height: 30px;
}

.store-products {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.store-product {
    text-align: center;
    background-color: #EEE;
    margin: 0px 10px 20px 10px;
    padding: 10px;
    width: 250px;
}

.store-product:hover {
    background-color: #DCDCDC;
}

.store-product img {
    text-align: center;
    height: 230px;
}

.post-content__header-container{
    display: flex;
}

.post-content__img{
    width: 30%;
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 830px) { 
    .post-content__img{
        display: none;
    }
}

.episodes .posts{
    margin-top: 30px;
}

.episodes .post-content__img {
    max-width: 130px;
    width: 20%;
    display: block;
}

.episodes .post-header-link {
    font-size: 1em;
}