<a class="post-header-link" href="{{ site.baseurl }}{{ post.url }}">
    {{ post.title }}
</a>
<div class="post-meta">
    <p class="meta">{{ include.post.date | date_to_string }}</p>

    <div class="post-links">
        <a class="subscribe-itunes" href="https://itunes.apple.com/us/podcast/a-town/id1390770127?mt=2">
            <img src="/assets/subscribe-links/subscribe-itunes.svg">
        </a>
        <a class="subscribe-overcast" href="https://overcast.fm/itunes1390770127/a-town-at-the-movies">
            <img src="/assets/subscribe-links/subscribe-overcast.svg">
        </a>
        <a class="subscribe-rss" href="http://podcast.atownmovies.com/feed.xml">
            <img src="/assets/subscribe-links/subscribe-rss.svg">
        </a>
    </div>
</div>

<div class="post-content">
    {% include audio-player-image.html audioSource=include.post.source imageSource=include.post.imageUrl %}
    {{ post.content }}
</div>