<a class="post-header-link" href="{{ site.baseurl }}{{ post.url }}">
    {{ post.title }}
</a>
<div class="post-meta">
    <p class="meta">{{ include.post.date | date_to_string }}</p>

    <div class="post-links">
        <a class="subscribe-itunes" href="http://podcast.atownmovies.com/feed.xml">
            <img src="/assets/subscribe-links/subscribe-itunes.svg">
        </a>
        <a class="subscribe-overcast" href="http://podcast.atownmovies.com/feed.xml">
            <img src="/assets/subscribe-links/subscribe-overcast.svg">
        </a>
        <a class="subscribe-rss" href="http://podcast.atownmovies.com/feed.xml">
            <img src="/assets/subscribe-links/subscribe-rss.svg">
        </a>
        <a class="subscribe-googleplay" href="http://podcast.atownmovies.com/feed.xml">
            <img src="/assets/subscribe-links/subscribe-googleplay.png">
        </a>
    </div>
</div>

<div class="post-content">
    {% include audio-player-image.html audioSource=include.post.source imageSource=include.post.imageUrl %}
    {{ post.content }}
</div>