---
layout: default
---

<div class="post-content__header-container">
    <div class="post-content__img">
        <img src="{{ page.imageUrl }}"/>
    </div>
    <div>
        <h2>{{ page.title }}</h2>
        <div class="post-meta">
            <p class="meta">{{ page.date | date_to_string }}</p>
            <div class="post-links">
                <a class="subscribe-itunes" href="http://podcast.atownmovies.com/feed.xml">
                    <img src="/assets/subscribe-links/subscribe-itunes.svg">
                </a>
                <a class="subscribe-overcast" href="http://podcast.atownmovies.com/feed.xml">
                    <img src="/assets/subscribe-links/subscribe-overcast.svg">
                </a>
                <a class="subscribe-rss" href="http://podcast.atownmovies.com/feed.xml">
                    <img src="/assets/subscribe-links/subscribe-rss.svg">
                </a>
                <a class="subscribe-googleplay" href="http://podcast.atownmovies.com/feed.xml">
                    <img src="/assets/subscribe-links/subscribe-googleplay.png">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="post-content">
    {% include audio-player.html audioSource=page.source %}
    {{ content }}
</div>