---
layout: default
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=321000698338630";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="post-content__header-container">
    <div class="post-content__img">
        <img src="{{ page.imageUrl }}"/>
    </div>
    <div>
        <h2>#{{ page.number }} - {{ page.title }}</h2>
        <div class="post-meta">
            <p class="meta">{{ page.date | date_to_string }}</p>
            <div class="post-links">
                <a class="subscribe-itunes" href="https://itunes.apple.com/us/podcast/a-town/id1257353761?mt=2">
                    <img src="/assets/subscribe-links/subscribe-itunes.svg">
                </a>
                <a class="subscribe-overcast" href="https://overcast.fm/itunes1257353761/a-town">
                    <img src="/assets/subscribe-links/subscribe-overcast.svg">
                </a>
                <a class="subscribe-rss" href="http://podcast.atownfm.com">
                    <img src="/assets/subscribe-links/subscribe-rss.svg">
                </a>
                <a class="subscribe-googleplay" href="https://play.google.com/music/m/Iulmtptxmmizbms4xepnxmxpujy?t=A-Town">
                    <img src="/assets/subscribe-links/subscribe-googleplay.png">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="post-content">
    {% include audio-player-wide.html playerId=page.podbeanId %}
    {{ content }}
</div>

<div class="fb-comments" data-href="http://atownfm.com{{ page.url }}" data-numposts="10" data-width="100%"></div>